In [1]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans

In [8]:
df = pd.read_excel(r'C:\Users\khush\Downloads\test.xlsx')

In [9]:
df.isnull()

,T1,T2,T3,T4,T5,T6,T7,T8,T9,T10,T11,T12,T13,T14,T15,T16,T17,T18
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15747,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
15748,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
15749,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
15750,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
15751,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [10]:
scaler = StandardScaler()
scaled_data = scaler.fit_transform(df)

In [12]:
num_clusters = 3
kmeans = KMeans(n_clusters=num_clusters, random_state=42)
kmeans.fit(scaled_data)
clusters = kmeans.labels_
df['cluster'] = clusters

In [13]:
def predict_cluster(data_point):
    scaled_point = scaler.transform([data_point])
    cluster = kmeans.predict(scaled_point)
    return cluster[0]

In [14]:
def explain_cluster(data_point):
    scaled_point = scaler.transform([data_point])
    distances = kmeans.transform(scaled_point)
    cluster = kmeans.predict(scaled_point)[0]
    return f"The data point is closest to cluster {cluster} with distances to centroids: {distances[0]}"

In [23]:
data_point = df.iloc[0, :-1].values
predicted_cluster = predict_cluster(data_point)
print(f"The new data point belongs to cluster: {predicted_cluster}")
print(explain_cluster(data_point))

The new data point belongs to cluster: 1
The data point is closest to cluster 1 with distances to centroids: [6.13328735 3.98767649 6.53740693]

C:\Users\khush\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(
C:\Users\khush\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(